@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 195.39 90.55% 49.80%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196.60 68.12% 86.47%;
    --secondary-foreground: 191.43 12.73% 32.35%;
    --muted: 200 56.76% 92.75%;
    --muted-foreground: 196.67 8.04% 43.92%;
    --accent: 203.41 100% 83.92%;
    --accent-foreground: 197.54 86.67% 29.41%;
    --destructive: 335.06 76.15% 57.25%;
    --destructive-foreground: 0 0% 100%;
    --border: 195.00 11.43% 86.27%;
    --input: 195.00 11.43% 86.27%;
    --ring: 195.39 90.55% 49.80%;
    --chart-1: 195.39 90.55% 49.80%;
    --chart-2: 198.67 97.57% 48.43%;
    --chart-3: 195.92 98.00% 39.22%;
    --chart-4: 200.34 97.79% 35.49%;
    --chart-5: 202.91 98.80% 32.75%;
    --sidebar: 188.57 20.00% 93.14%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 195.39 90.55% 49.80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 203.41 100% 83.92%;
    --sidebar-accent-foreground: 197.54 86.67% 29.41%;
    --sidebar-border: 195.00 11.43% 86.27%;
    --sidebar-ring: 195.39 90.55% 49.80%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 2px 4px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 4px 6px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 8px 10px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.25);
  }
  
  .dark {
    --background: 0 0% 9.02%;
    --foreground: 0 0% 89.80%;
    --card: 0 0% 14.90%;
    --card-foreground: 0 0% 89.80%;
    --popover: 0 0% 14.90%;
    --popover-foreground: 0 0% 89.80%;
    --primary: 195.39 90.55% 49.80%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210.59 49.51% 20.20%;
    --secondary-foreground: 0 0% 89.80%;
    --muted: 210.59 49.51% 20.20%;
    --muted-foreground: 0 0% 63.92%;
    --accent: 197.54 86.67% 29.41%;
    --accent-foreground: 203.41 100% 83.92%;
    --destructive: 335.06 76.15% 57.25%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.10%;
    --input: 0 0% 25.10%;
    --ring: 195.39 90.55% 49.80%;
    --chart-1: 190.73 91.79% 61.76%;
    --chart-2: 195.39 90.55% 49.80%;
    --chart-3: 198.67 97.57% 48.43%;
    --chart-4: 195.92 98.00% 39.22%;
    --chart-5: 200.34 97.79% 35.49%;
    --sidebar: 0 0% 14.90%;
    --sidebar-foreground: 0 0% 89.80%;
    --sidebar-primary: 195.39 90.55% 49.80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 197.54 86.67% 29.41%;
    --sidebar-accent-foreground: 203.41 100% 83.92%;
    --sidebar-border: 0 0% 25.10%;
    --sidebar-ring: 195.39 90.55% 49.80%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 2px 4px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 4px 6px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 8px 10px -1px hsl(0 0% 10.20% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
